<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Anime Central</h5>
                <p>Anime Central is your ultimate destination for an immersive anime gallery experience. Explore the captivating world of anime through stunning artwork, character designs, and more.</p>
            </div>
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>Email: info@animecentral.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <p>&copy; 2023 Anime Central. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
